# Start command: composer update --classmap-authoritative && vendor/bin/phpstan analyze

includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
	level: max
	inferPrivatePropertyTypeFromConstructor: true
	checkMissingIterableValueType: false
	paths:
		- src/
	autoload_files:
		- vendor/autoload.php
	autoload_directories:
		- bitrix/modules/main/lib
		- bitrix/modules/main/classes
#	ignoreErrors:
#		-
#			message: '/^Parameter \#1 \$function of function call_user_func_array expects callable/'
#			paths:
#				- src/AbstractCriteriaAdapter.php
#				- src/Expression/ExpressionFactory.php
#				- src/Expression/AbstractExpressionAdapter.php
#		- '/^Static method Webmozart\\Assert\\Assert::allOneOf\(\) invoked with 3 parameters, 1-2 required.$/'
#		- '/^Method (.*) should return static\((.*)\) but returns (.*)\.$/'
